.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  background-color: #3381cf !important;
  margin-top: auto;
}

.social {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex: 1;
  gap: 30px;
}

@media screen and (max-width: 1200px) {
}
