* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

.dark {
  --bg: #03050a;
  --textColor: #ddd;
  --softbg: #1f273a;
  --softTextColor: #a6a6a6;
}
.light {
  --bg: white;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}
